---
layout: layouts/articulo.njk
titulo: Contacta con Esculture
imagen: https://res.cloudinary.com/dasijlpgz/image/upload/v1672162639/web/contacto.jpg
templateClass: contacto
---

<div class="formulario">
  <p>¿Tiene preguntas o está buscando más información sobre Esculture?</p>
  <p>Rellena el formulario con dudas, consultas y tus datos, nos pondremos en contacto lo antes posible. Los campos con asterisco (*) son necesarios para localizarte</p>
  <form id="suventform" action="index.php?option=com_formulario" enctype="multipart/form-data" method="post">
    <div class="doscol">
      <div><input title="Mínimo 3 caracteres" name="nombre" pattern=".{3,}" required="" type="text" placeholder="* Nombre">
        <input title="Formato de email no válido" name="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required="" type="text" placeholder="* Mail">
        <input name="telefono" type="text" placeholder="Teléfono"></div>
      <div>
        <textarea name="tema" rows="4" placeholder="Tema"></textarea>
      </div>
      <div>
        <div class="legal"><input id="legal" required="" type="checkbox">
          <label for="legal">Acepto la <a href="/politica-de-privacidad" target="_blank" rel="noopener">política de privacidad</a>
          </label>
        </div>
      </div>
      <div class="enviar">
        <button type="submit">Enviar</button>
      </div>
    </div>
  </form>
</div>