---
layout: layouts/base.njk
templateClass: artista
---

{% if imagen %}
  <div class="imagencabecera cubrir">
    <img src="{{ imagen }}" alt="{{ titulo }}">
  </div>
{% endif %}

<div class="contenedor">
  <div class="articulo">
    <h1 class="titulo fs4">{{ nombre }}</h1>
    <div class="contenido">
      {{ content | safe }}
    </div>
  </div>
</div>

<div class="gris">
  <div class="contenedor">

    <h2 class="fs3">Obras de {{ nombre }}</h2>

    {% set listado = collections.obras %}
    {% include "layouts/partials/obrasartista.njk" %}

  </div>
</div>