<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <header class="cabecera">
      <div class="contenedor">
        <a class="logo ajustar" href="{{ '/' | url }}">{% include 'icons/logo.svg' %}</a>
        <nav class="menuppal">
          <input type="checkbox" class="oculto" name="mainmenu" id="mainmenu">
          <label for="mainmenu" class="iconomenu">
            <span class="linea sup"></span>
            <span class="linea centro"></span>
            <span class="linea inf"></span>
          </label>
          <ul class="nav">
            <li class="nav-item{% if page.url == "/" %} nav-item-active{% endif %}">
              <a href="/">Inicio</a>
            </li>
            <li class="nav-item{% if "sobre-nosotros" in page.url %} nav-item-active{% endif %}">
              <a href="/sobre-nosotros/">¿Qué es Esculture?</a>
            </li>
            <li class="nav-item{% if "artistas" in page.url %} nav-item-active{% endif %}">
              <a href="/artistas/">Artistas</a>
            </li>
            <li class="nav-item{% if "contacto" in page.url %} nav-item-active{% endif %}">
              <a href="/contacto/">Contacto</a>
            </li>
          </ul>

        </nav>

      </div>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      {{ content | safe }}
    </main>

    <footer class="pie">
      <div class="contenedor">
        <div class="infopie">
          <div class="logopie">
            {% include 'icons/logo.svg' %}
          </div>
          <div class="menupie">
            <ul class="nav">
              <li class="nav-item{% if "sobre-nosotros" in page.url %} nav-item-active{% endif %}">
                <a href="/sobre-nosotros/">¿Qué es Esculture?</a>
              </li>
              <li class="nav-item{% if "artistas" in page.url %} nav-item-active{% endif %}">
                <a href="/artistas/">Artistas</a>
              </li>
              <li class="nav-item{% if "contacto" in page.url %} nav-item-active{% endif %}">
                <a href="/contacto/">Contacto</a>
              </li>
            </ul>
          </div>
          <div class="menupie">
            <ul class="nav">
              <li class="nav-item{% if "aviso-legal" in page.url %} nav-item-active{% endif %}">
                <a href="/aviso-legal/">Aviso legal</a>
              </li>
              <li class="nav-item{% if "privacidad" in page.url %} nav-item-active{% endif %}">
                <a href="/politica-de-privacidad/">Política de privacidad</a>
              </li>
              <li class="nav-item{% if "cookies" in page.url %} nav-item-active{% endif %}">
                <a href="/uso-de-cookies/">Uso de cookies</a>
              </li>
            </ul>
          </div>
          <div class="lema">
            <p>"Un acercamiento más personal a la escultura"</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>